*
{
  margin: 0;
  padding: 0;
}
body
{
  background: url(/ublc/recursos/img/fondo.jpg);
  background-attachment: fixed;
}
.todo{
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 7% 1fr;
  grid-template-areas: "menu" "central";
  grid-row-gap: 5px;
  justify-items: center;
  align-items: stretch;
  overflow-x: auto;
  overflow-y: hidden;
}

.central{
  grid-area: central;
  justify-self: stretch;
  align-self: stretch;
  overflow: auto;
  margin-bottom: 5px;
  display: grid;
  align-content: stretch;
  align-items: center;
  grid-template-areas:
  "titulo"
  "principal"
  "footer";
}

.center
{
  grid-area: principal;
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 45% 1fr;
  grid-template-areas:
  "sismeu     titular"
  "sismeu     beneficiario"
  "sismeu     basicos"
  "sismeu     reembolsos"
  "sismeu     reportes"
  "sismeu     notificaciones";
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  justify-items: center;
  padding: 12px 16px;
  background: #86B0A0;
  border-radius: 20px;
}

.titulo
{
  grid-area: titulo;
  justify-self: center;
  width: 40%;
  margin-bottom: 10px;
  padding: 8px 0px;
  background: rgba(57, 99, 173, 0.75);
  border-radius: 20px;
}

.sismeu
{
  grid-area: sismeu;
  padding: 10px 5px;
  display: flex;
  justify-self: stretch;
  justify-content: center;
  align-content: center;
  background: #ffffff;
  border-radius: 20px;
}
.sismeu img
{
  width: 100%;
  justify-self: center;
  align-self: center;
}

h1
{
  font-family: serif ,sans-serif,  Algerian;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
}
.subtitulo
{
  font-family: serif ,sans-serif,  Algerian;
  font-size: 26px;
  text-align: center;
  color: #ffffff;
}

h2
{
  font-family: serif ,sans-serif,  Algerian;
  font-size: 26px;
  text-align: center;
  color: #000000;
}

h3
{
  font-family: serif ,sans-serif,  Algerian;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}


.consultar
{
  grid-area: consultar;
}
.agregar
{
  grid-area: agregar;
}
.modificar
{
  grid-area: modificar;
}
.eliminar
{
  grid-area: eliminar;
}
.reportes
{
  grid-area: reportes;
}
.reembolsos
{
  grid-area: reembolsos;
}
.consultar, .agregar, .modificar, .eliminar, .reembolsos, .reportes
{
  justify-self: stretch;
  padding: 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  color: #000000;
  border-radius: 10px;
}
.opciones
{
  text-decoration: none;
  width: 100%;
}
.consultar:hover, .agregar:hover, .modificar:hover, .eliminar:hover, .reembolsos:hover, .reportes:hover
{
  background: #66A55F;
  color: black;
}
.consultar:active, .agregar:active, .modificar:active, .eliminar:active, .reembolsos:active, .reportes:active
{
  background: #E8F5E9;
}

footer
{
  grid-area: footer;
  justify-self: center;
  display: flex;
  align-items: center;
  margin-top: 7.5px;
  padding: 5px 15px;
  font-family: Arial, calibri;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  background: rgba(57, 99, 173, 0.75);
  border-radius: 10px;
}

.notificacion
{
  display: none;
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 25%;
  padding: 6px 10px;
  border-radius: 3px;
  background: #226AFF;
}

.subtitulo_notificacion
{
  width: auto;
  margin-bottom: 5px;
  padding: 2px 4px;
  font-family: serif ,sans-serif,  Algerian;
  font-size: 18px;
  text-align: center;
  border-radius: 3px;
  background: #000000;
  color: #ffffff;
  border-bottom: 2px solid black;
}
.notificacion p
{
  width: 96%;
  margin: auto;
  margin-bottom: 4px;
  padding: 4px 8px;
  font-family: serif ,sans-serif,  Algerian;
  font-weight: bold;
  text-align: justify;
  border-radius: 3px;
  background: #42A5F5;
  color: #000000;
  border: 1px solid #000000;
  box-sizing: border-box;
}

@media screen and (max-width: 840px)
{
  .sismeu img
  {
    width: 50%;
  }
  .center
  {
    width: 75%;
    grid-template-columns: 1fr;
    grid-template-areas:
    "sismeu"
    "titulo"
    "consultar"
    "agregar"
    "modificar"
    "eliminar"
    "reportes"
    "reembolsos";
  }
  .titulo
  {
    width: 60%;
  }
  .notificacion
  {
    width: 50%;
    left: 24%;
  }
}
@media screen and (max-width: 600px)
{
  .sismeu img
  {
    width: 40%;
  }
  .center
  {
    width: 90%;
  }
  .notificacion
  {
    width: 80%;
    left: 0;
    margin-left: 9%;
  }
}
